.Rproj.user
.Rhistory
.RData
.Ruserdata
results_output
figure
images\OLD
All_Tested_Chemicals.csv
All_Tested_Chemicals_1528.csv
OLD
MyExposome_1527_v2.R
MyExp_data.load.functions_1527_v2.R
MyExposome_1527_v6.html
MyExposome_1527_v6.tex
MyExposome_1527_v6_Dartmouth48_25.html
MyExposome_1527_v6_Dartmouth_111.html
MyExposome_1527_v6_Dartmouth_48_plus_25.html
MyExposome_1527_v6_testError.Rmd
MyExposome_1527_v6_testError.html
MyExposome_Flame_v2.Rmd
MyExposome_PAH_v2.Rmd
MyExposome_PAH_v2_MIAMI_SPECIFIC.Rmd
MyExposome_1527_v6_Canada_3_first_run_NOT_QA.html
QUANTITATIVE Screen Analysis.pdf
MyExp_support_functions_1527_v2.R
MyExp_support_functions_1527_v3.R
MyExposomeFormat_1527_v2.docx
MyExposome_1527_v2.Rmd
MyExposome_1527_v3.Rmd
MyExp_Base_Code_v3.R
Compound_Classification.xlsx
DeliverToDartmouth_3batches_111count
Deliver_First_3_to_Canada_Rocio
DeliveredToDartmouth
GENERAL_fixing_PURPOSE_PAH_DRS_MORE.Rproj
Notebook_Test.Rmd
All_Tested_Chemicals_VOC.csv
MyExposome_1527_v6_testing_new_DRS_category grouping.html
Rplot.png
Rplot01.png
Rplot02.png
Rplot03.png
testX.Rmd
testX.html
testingN.R
Testing_Leaflet_HtmlWidgets.html
Buffalo_Kasia_Output
ChildTest_Child.Rmd
ChildTest_Master.Rmd
ChildTest_Master.html
Child_Test_Rstudio.zip
MyExposome_1527_v6 - Copy.docx
MyExposome_1527_v6.docx
MyExposome_1527_v6.log
MyExposome_1527_v6_UCSF_plus_10Random.html
MyExposome_1527_v6_files
MyExposome_1527_v7_files
Testing_Leaflet_HtmlWidgets2.html
Testing_Leaflet_HtmlWidgets2.rmd
Dartmouth_MyExposome_1527_v6_v3.html
What packages I had installed in R when on version 3.4   MANY were then moved to 3. 5 but... certainly not all..txt
Dartmouth
UCSF_plus
All Compounds reported to customers as of 3-20-2020 ChemistryDashboard-Batch-Search_2020-03-19_14_41_37.xls
masterParamLookup.csv
masterParamLookup_v2.csv
testResults_maxResults_Dartmouth_all459.xlsx
testReslts_maxResult_Dartmouth_all459.csv
testReslts_maxResult_Dartmouth_all459_old.csv
Possible SEND to Miami Firefighters as REDO of 2017 reports
Find ALL chemicals found by wristband
MyExposome_1527_v6_files_BAD
EDF 2019 Project
UCSF_2020
Wisconsin
Rplot04.png
MyExposome_1527_v6.DEMO.of.PRE.Post.PAH.html
MyExposome_1527_v6.DEMO.of.PRE.Post.PEST.html
MyExposome_1527_v6.DEMO.of.PRE.Post.VOPAH.html
MyExposome_1527_v6.Sent.t.Steven.zip
MyExposome_1527_v6.Send.Steven.Air.v2.html
MyExposome_1527_v6.Send.Steven.Air.v2.html.zip
marc notes on weight of silicone vs volume of silicone.xlsx
testReslts_AirConcen_Info.csv
testReslts_AirConcen_Info.xlsx
testReslts_AirConcen_Info2.csv
testReslts_AirConcen_Info3.csv
testReslts_AirConcen_Info3.zip
MyExposome_1527_v6_Just_Lab_Submission_Batch13.html
WI_FULL_MyExposome_1527_v6.html
WI_FULL_MyExposome_1527_v6_AfterD2.html
WI_PO206_MyExposome_1527_v6.html
WI_PO206_MyExposome_1527_v6_AfterD2.html
WI_PO221 maybe_MyExposome_1527_v6.html
WI_PO221 maybe_MyExposome_1527_v6_AfterD2.html
WI_PO225_MyExposome_1527_v6.html
WI_PO225_MyExposome_1527_v6_AfterD2.html
MyExposome_1527_v6---SBIR.html
MyExposome_1527_v6---SBIR.log
MyExposome_1527_v6---SBIR.tex
MyExposome_1527_v6.pdf
MyExposome_1527_v6_DPI_72.html
MyExposome_1527_v6_Georgetown_Individual.html
MyExposome_1527_v6_Georgetown_with_more_stats.html
MyExposome_1527_v6_RYAN_ONE_WRISTBAND.html
MyExposome_1527_v6_UMT_6wristbands.html
MyExposome_1527_v6_colorado_denver_2_extra_charts_not_sent.html
MyExposome_1527_v6.md
Ryan One Wristband plus DEMO DATA.zip
SBIR_P1_Results_longTableHasValues.csv
SBIR_P1_Results_longTableHasValues.xlsx
UC_Davis
UMT_University_Montana
UNM_Univeristy NEW MEXICO
WI_FULL_MyExposome_Redo.html
WI_PO206_MyExposome_Redo.html
WI_PO221_MyExposome_Redo.html
WI_PO225_MyExposome_Redo.html
ALS VOC full list and CAS.csv
All_Tested_Chemicals_pest.csv
BOSTON
Chicago
Colorado_Denver
Connecticult_UCONN
Georgetown
GiveSteven.csv
K2113517_MARC_out1.csv
LookupParameerIDfromCASnumber.xlsx
MyExposome_1527_v6_AirConcentrationExample_Dart.html
MyExposome_1527_v6_DEMO_350.html
MyExposome_1527_v6_DEMO_350_With_Individualization.html
MyExposome_1527_v6_DEMO_50_Random.html
MyExposome_1527_v6_Demonstration_Data.html
MyExposome_1527_v6_Fix_Prop65.html
MyExposome_1527_v6_Individual_Demo_FLoatingTOC.html
MyExposome_1527_v6_SHOWING_AIR_CONCENTRATION.html
MyExposome_1527_v6_UnivNewMexico_2ndBatch.html
MyExposome_1527_v6_UnivisionV3.html
MyExposome_1527_v6_VOC.html
MyExposome_1527_v6_distill_example_new_not_HTML_format.html
MyExposome_DEMO_GROUP_ONLY_REPORT.html
ReportOnWristbandPapers_v3.html
ReportOnWristbandPapers_v4.html
ReportOnWristbandPapers_v5.html
ReportOnWristbandPapers_v5_REDO.html
Rplot05.png
SBIR_ALL DATA OUTPUT AS HTML_FINAL_FullRun.zip
SBIR_Phase_1_Gather_All_Files
SBIR_Run_Sept_2022_RecreateOutput_VERIFIED
SilentSpringNumberLineTestingGraphic.R
UFL_Florida
UNM_Univeristy NEW MEXICO_1stBatch
UNM_University NEW MEXICO_2ndBatch
U_Lille_France
Univision
display_Flow_Chart_In_RMarkdown.Rmd
longTable.csv
longTable.xlsx
longTableHasValues.csv
test.Rmd
test.html
testResultDartmouthRaw_and_FixedUp.csv
testViolinRMD.html
tr.csv
tr_out_dartm.csv
tr_out_dartm.xlsm
violin_test.html
violin_test2.html
MyExposome_1527_v6_Mid_Tweak_Sept30_3pm.html
.Rdata
.httr-oauth
.DS_Store
.quarto
InternalLinkDemo.html
carswithTOoltip.html
carswithTOoltipTRY2.html
testtippy.html
testtippy.md
testRMDforTooltip_files
MyExposome_1527_v6.zip
MyExposome_1527_v6_INDIVIDUAL_and_GROUP.html
test.R
accordian_h1_example.html
accordian_h1_example2.html
testingBSPLUS-features.html
customMyExp2.css
~$README.docx
~WRL0003.tmp
MyExposome_1527_v6_ALL_1629.html
MyExposome_1527_v6_with2downloadXLSX.html
MyExposome_1527_v6_25-WB.html
MyExposome_40_WB_Big_Data.html
MyExposome_40_WB_Small_Data.html
MyExposome_40_WB_Two_reports.zip
