F22-09_MyExpoP.O#238_CoA.csv
F22-09_MyExpoP.O#238_CoA_UCDavis35.csv
F22-09_MyExpoP.O.#238_CoA.pdf
AirConcentration_CombinedParameter_voc_pah_vopah_pest_flame_drs_UPDATED_ANALYZE.xlsm
AirConcentration_CombinedParameter_voc_pah_vopah_pest_flame_drs_UPDATED_v2_Sept19_2022.csv
AirConcentration_CombinedParameter_voc_pah_vopah_pest_flame_drs_UPDATED_v2_Sept19_2022.xlsx
Complete_with_DocuSign_F23-14_MyExpoPO246.pdf
Complete_with_DocuSign_F23-16_MyExpo_PO247.pdf
Complete_with_DocuSign_F23-21_MyExposome_PO_248.pdf
F21-31_MyExpo_P.O#236_plus_#247_CoA_Colorado_batch1and2.csv
F23-09_03_P.O#244_MyExpo_CoA.csv
F23-09_03_P.O#244_MyExpo_CoA_Dartmouth.csv
F23-09_03_P.O#244_MyExpo_CoA_UNM.csv
F23-09_P.O._244_MyExpo_CoA.pdf
F23-10_MyExpoP.0#245_MASV15_CoA_UnivisionWEIRD UNIT PROB.csv
F23-10_MyExpoP.0#245_Pesticide_CoA_UnivisionWEIRD UNIT PROBLEM NOT FIX.csv
F23-10_MyExpoP.0#245_Pesticide_CoA_UnivisionWEIRD UNIT PROBLEM_Fix_By_Hand.csv
F23-10_MyExpoP.O#245_MASV15_CoA_UnivisionFIX.csv
F23-10_MyExpoP.O.#245_MASV15_CoA.pdf
F23-10_MyExpoP.O._245_MASV15__COA.pdf
F23-10_MyExpoPO245_Pesticide_CoA_Signed.pdf
F23-14_MyExpoP.O.#246_CoA_ReissuedLaterWithCorrectUnits.csv
F23-14_MyExpo_P.O.#246_CoA_reissue_ngPerWB.csv
F23-16_MyExpo_P.O.#247_CoA - Colorado_fixed_Units.csv
F23-16_MyExpo_P.O.#247_CoA - Dartmouth_fixed_Units.csv
F23-16_MyExpo_P.O.#247_CoA.csv
F23-16_MyExpo_P.O.#247_CoA_reissue_ngPerWB.csv
F23-21_MyExpo_P.O.#248_CoA_reissue_ngPerWB_UCONN.csv
F23-21_MyExposome P.O.#248_CoA_UCONN.csv
F23-22_MyExposome #249_CoA.csv
F23-22_MyExposome #249_CoA_Dartmouth.csv
F23-22_MyExposome #249_CoA_France.csv
F24-05_MyExposomeP.O.#250_CoA.csv
F24-05_MyExposomeP.O.#250_CoA_Dartmoutn_2.csv
F24-05_MyExposomeP.O.#250_CoA_Louisville.csv
F24-07 MyExposome PO 251 CoA report_CSV_PAH.csv
F24-07 MyExposome PO 251 CoA report_CSV_VOC_FROM_VOC_WRONG.csv
F24-07 MyExposome PO 251 CoA report_CSV_VOC_WRONG.csv
F24-07 MyExposome PO 251 CoA report_Updated.csv
F24-07 MyExposome PO 251 CoA report_Updated_VOC.csv
F24-07 MyExposome PO 251 CoA report_reviewed_VOC_WRONG.pdf
F24-07_VOC_report v2_2nd_time_WRONG.csv
F24-14_MyExpo_P.O.#253_CoA.csv
F24-20_MyExpo_PO257_OSU_MyE_Report.csv
MASV15_ca_prop65_risk_Marc_Tweak.csv
MasterParamenter_Using_April2024_VOC_fixedList21.csv
MasterParameterTable_PAH_April2024.csv
MasterParameterTable_Pesticide_03_20_2023_Hand_Fixup.csv
New_Files_From_OSU
OLD_ALL_MAS15_DATA
PO245 CSV version redone.csv
Sample Key UFL Florida August 2024.csv
Sample Key_NM_lookup_table_OLD V1 VERSION.csv
Sample Key_UCONNHealth_Fixup.csv
Sample Key_UNIV_LILLE_FRANCE_lookup_table.csv.csv
Sample Key_UNM_2nd_batch_lookup_table.csv
VOC_List_From_F24-07_OLD_WRONG.csv
class_L.csv
testResults.csv
Sample Key_Univision_lookup_table.csv
Sample Key_UnvColorado_2ndVERSION_lookupTable.csv
Sample Key_UnvColorado_2ndVERSION_lookupTableJUST_NEW_DATA.csv
Sample Key_WI_Client3_April_2024.csv
Sample Login Key - Boston.csv
Summary.pdf
F24-21_MyExpoP.O.#258_PHTH_CoA_MULITPLY_ug_by_1000.csv
F24-21_MyExpoP.O.#258_PHTH_CoA_MULITPLY_ug_by_1000_fix_ParameterID.csv
F24-21_MyExpoP.O.#258_PHTH_CoA_WRONG_UNITS.csv
F24-21_MyExpo_P.O.#258_PHTH_CoA II_WRONG_UNITS.csv
MasterParameterTable_PHTH_Wrong_ParameterID.csv
PO-258_Phthalates_Results_OLD_WRONG_ERROR.csv
Test_figure_out_chemical_exposure_Copilot_ChatGPT_2024_10_18.xlsx
Test_figure_out_chemical_exposure_Copilot_ChatGPT_2024_10_18_v2.xlsx
BraunChems.csv
